@model List<UIResultProductWithCategory>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="popular-books" class="bookshelf py-5 my-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-header align-center">
					<div class="title">
						<span>Bazı Kitaplarımız</span>
					</div>
					<h2 class="section-title">Popüler Kitaplar</h2>
				</div>
				<ul class="tabs">
					<li data-tab-target="#all-genre" class="active tab">Tümü</li>
					@{
						var uniqueCategories = Model.Select(m => m.CategoryName).Distinct().ToList();
					}
					@foreach (var category in uniqueCategories)
					{
						<li data-tab-target="#@category.ToLower().Replace(" ", "-")" class="tab">@category</li>
					}
				</ul>
				<div class="tab-content">
					<div id="all-genre" data-tab-content class="active">
						<div class="row">
							@foreach (var item in Model)
							{
								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<img src="@item.ProductImageUrl" alt="Books" class="product-item">
											<button type="button" class="add-to-cart" data-product-tile="add-to-cart"
													data-bs-toggle="modal" data-bs-target="#bookModal"
													data-name="@item.ProductName"
													data-writer="@item.ProductWriterName"
													data-price="@item.ProductPrice.ToString("C")"
													data-image="@item.ProductImageUrl"
													data-description="@(item.ProductDesc ?? "Bu kitap için detaylı açıklama bulunmamaktadır.")">
												Sepete Ekle
											</button>
										</figure>
										<figcaption>
											<h3>@item.ProductName</h3>
											<span>@item.ProductWriterName</span>
											<div class="item-price">@item.ProductPrice.ToString("C")</div>
										</figcaption>
									</div>
								</div>
							}
						</div>
					</div>
					@foreach (var category in uniqueCategories)
					{
						<div id="@category.ToLower().Replace(" ", "-")" data-tab-content>
							<div class="row">
								@foreach (var item in Model.Where(m => m.CategoryName == category))
								{
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ProductImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart"
														data-bs-toggle="modal" data-bs-target="#bookModal"
														data-name="@item.ProductName"
														data-writer="@item.ProductWriterName"
														data-price="@item.ProductPrice.ToString("C")"
														data-image="@item.ProductImageUrl"
														data-description="@(item.ProductDesc ?? "Bu kitap için detaylı açıklama bulunmamaktadır.")">
													Sepete Ekle
												</button>
											</figure>
											<figcaption>
												<h3>@item.ProductName</h3>
												<span>@item.ProductWriterName</span>
												<div class="item-price">@item.ProductPrice.ToString("C")</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>
					}
				</div>
			</div><!--inner-tabs-->
		</div>
	</div>
</section>

<!-- Book Detail Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="bookModalLabel">Kitap Detayları</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-5">
						<img id="modalBookImage" src="" alt="Kitap Görseli" class="img-fluid">
					</div>
					<div class="col-md-7">
						<h4 id="modalBookName" class="mb-3"></h4>
						<p><strong>Yazar:</strong> <span id="modalBookWriter"></span></p>
						<p><strong>Fiyat:</strong> <span id="modalBookPrice"></span></p>
						<div class="mt-4">
							<h5>Kitap Açıklaması</h5>
							<p id="modalBookDescription" class="mt-2"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
			</div>
		</div>
	</div>
</div>


	<script>
		$(document).ready(function() {
		  
		  $('.add-to-cart').on('click', function() {
			var productName = $(this).data('name');
			var productWriter = $(this).data('writer');
			var productPrice = $(this).data('price');
			var productImage = $(this).data('image');
			var productDescription = $(this).data('description');


			// Set modal content
			$('#modalBookName').text(productName);
			$('#modalBookWriter').text(productWriter);
			$('#modalBookPrice').text(productPrice);
			$('#modalBookImage').attr('src', productImage);
			$('#modalBookDescription').text(productDescription);
		  });
		});
	</script>

